body {
    background-color: rgb(65, 65, 65);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(255, 0, 0);
    height: 10vh;
    background-repeat:no-repeat;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
header h1 {
    vertical-align: middle;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 3em;
    color: rgb(0, 0, 0);
    padding: 10px;
    /* text-shadow: 1px 1px white; */
}
p {
    font-size: 1.5em;
    margin: 1vh;
    color: rgb(27, 22, 22);
}

nav {
    background-color: black;
    text-align: center;
    border: 2px solid rgb(55, 54, 54);
    border-radius: 10px;
    margin: 20px;
    height: 70px;
}

nav ul {
    padding: 5px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav li {
    margin: 0 25px;
 }

nav a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

h2 {
    margin: 5px;
    color: rgb(109, 23, 23);
    font-size: 2em;
    padding: 7px 0px 3px 0px;
}

.flexbox{
    display: flex;
    justify-content: center;
}

.divs {
    background-color: darkgray;
    margin: 15px;
    padding: 10px;
    border: 2px red solid;
    border-radius: 5px;
    width: 50%;
}

.slikeDivsHmpg {
    margin: 1vh;
    padding-top: 10px ;
    align-items: center;
    object-fit: contain;
    width: 90%;
    max-height: 50%;
}

.divImage {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    background-color: rgb(170, 0, 0);
    padding: 7px;
    height: 5vh;
}
footer p {
    color: white;
    font-size: 1em;
}
#kontakt {
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    border: 2px red dotted;
    text-align: center;
    position: inherit;
    width: max-content;
    color: white;
}

#kontakt a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
    /* font-size: 101%; */
}

/* img:first-child {
    cursor: pointer;
    transform: scale(1.3);
} */

ul li:first-child {
    transform: scale(1.3);
}
ul li:nth-child(2) {
    transform: scale(1.3);
}
ul li:nth-child(3) {
    transform: scale(1.3);
}
ul li:nth-child(4) {
    transform: scale(1.3);
}
ul li:nth-child(5) {
    transform: scale(1.3);
}
ul li:last-child {
    transform: scale(1.3);
}